In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('MOCK_DATA (2).csv')
df.head()

,id,first_name,last_name,age,gender,city,country,ethnicity,income,education_level
0,1,Pavlov,Arber,93,Male,Olival,Portugal,White,349833.30,Associate's Degree
1,2,Sylas,Timbs,22,Male,Jönköping,Sweden,Hispanic,501974.28,High School
2,3,Turner,Mountjoy,67,Non-binary,Mojorembun,Indonesia,Black,34115.79,PhD
3,4,Rossy,Hildred,93,Male,Albany,United States,Asian,4627.03,High School
4,5,Mable,Anthony,35,Female,Jinhua,China,Black,90157.92,Master's Degree

In [13]:
population_age_mean = np.mean(df['age'])
print(population_age_mean)

64.92

In [11]:
sample_df = df.sample(n=20, random_state=42)
s_age_mean = sample_df['age'].mean()
s_age_mean

np.float64(57.75)

In [14]:
diff = population_age_mean - s_age_mean
diff

np.float64(7.170000000000002)

In [16]:
pas_error = (diff/population_age_mean) * 100
print(pas_error)

11.044362292051758